name: Jest
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  jest-unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install modules
      run: yarn
    - name: Run tests
      run: yarn jest